.ant-typography,
h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography,
h5.ant-typography,
h6.ant-typography {
  margin-bottom: 0;
  font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto, 'Noto Sans',
    Ubuntu, 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: rgb(182, 194, 207);
}
